<div class="container">


	<div class="main-container">


		<!-- <app-home *ngIf="clickedItem == 'home'"></app-home>

        <app-users *ngIf="clickedItem == 'users'"></app-users> -->
        <router-outlet></router-outlet>



	</div>


	<div class="bottom-nav">
		<div class="bottom-nav-item">
			<fa-icon [icon]="homeIcon"
				[ngStyle]="{'color':clickedItem ==='home'? 'white':'gray'}"
				(click)="onNavClick('home')"></fa-icon>
		</div>


		<div class="bottom-nav-item">
			<fa-icon [icon]="userIcon"
				[ngStyle]="{'color':clickedItem ==='users'? 'white':'gray'}"
				(click)="onNavClick('users')"></fa-icon>


		</div>


		<div class="bottom-nav-item">
			<fa-icon [icon]="tagIcon"
				[ngStyle]="{'color':clickedItem ==='tag'? 'white':'gray'}"
				(click)="onNavClick('tag')"></fa-icon>


		</div>
	</div>
</div>
