.home-container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.home-container app-post-list-component{
    height: 100%;
    overflow: hidden;
    margin-top: 10px;

}